{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "12"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@": "./",
        "@app": "./app",
        "@db": "./db"
      }
    }]
  ]
}